.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  min-width: 100vh;
  // text-align: center;
  margin-left: 5%;
  margin-right: 5%;


}
@import "~bootstrap/scss/bootstrap";