

.inputRow{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.formFileDiv{
    justify-content: center;
}
.textInputArea{
    min-width: 50%;
    min-height: 8vh;
}

.followUpPageRow{
    min-height: auto;
}
.adminDiv{
    overflow: scroll
}

.uploadFileForm{
    max-width: 100%;
}
.genderField{
    min-width: 50%;
}

.form-row{
    padding-top: 4vh;
}