.needToFollowDiv{
    background-color: #fac7c5;
    
}

.needToMeasureDiv{
    background-color: #fff0c8;
}

.alreadyMeasuredDiv{
    background-color: #cce4e3;
}

.roundCorner{
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    min-width: 100px;
    min-height: 100px;
}

.threeDivHolder{
    display: flex;
}

.upperFollowUpContainer{
    min-height: 15px;
    min-width: 100%;
}
.followUpContainer{
    display: flex
}

.blankContainer{
    min-height: 15px;
}

.divBetweenDiv{
    min-width: 20px;
}
.ListGroupItem{
    max-width: 11px;
}
.ListGroup{
    max-width: 11px;
}

.table{
    min-width:100%;
}
h6{
    min-height: 25px;
}
.adminDivHolder{
    height:100vh;
    min-width: 80%;
}
.adminDiv{
    background-color: #FFCBB7;
    border-radius: 20px;
    height: calc(100vh - 7vh - 3rem);

}
div.list-group{
    height:100%
}
.listGroupItem2{
    height:100% !important
}


