.loginDivHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loginDiv{
    background-color: #FFCBB7;
    padding: 150px 150px 150px 150px;
    border-radius: 20px;
    
}
.loginButton{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    background-color: #fce7d0;
    font-weight: 500;
    font-size: 24px;
}

// .submitButton{
//     background-color: #fac7c5;
//     border-radius: 8px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 25px;
//     padding-right: 25px;
// }