.userOuterCol{
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 18px;
    border:3px;
    padding-left: 7px !important ;
    padding-right: 7px !important;
    div.row{
    margin-bottom: 6px;
    }
}
.smallerFont{
    font-size:16px;
}
.betweenRow{
    min-height: 25px;
}

.userContainer{
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    div.col{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.blankBetweenRow{
    min-height: 30px;
}
.bpHistoryRenderRow{
    margin-top: 1em;
    margin-bottom: 1em;
}